.form-control-upload {
    display: flex;
    flex-direction: column;
}

input[type=file] {
    padding: 20px;
    border: 2px gray solid;
    width: 300px;
    margin-bottom: 20px;
    cursor: pointer;
}


input[type=file]:hover {
    background: rgb(240, 240, 240);
}


input[type=file]::-webkit-file-upload-button {
    color: white;
    display: inline-block;
    background: #1CB6E0;
    border: none;
    padding: 7px 15px;
    font-weight: 700;
    border-radius: 3px;
    white-space: nowrap;
    cursor: pointer;
    font-size: 10pt;
}

@media only screen and (min-width: 800px) {
    input[type=file] {
        width: 600px;
    }
}