.form-control-input {
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 5px;
}

select {
    display: block;
    box-sizing: border-box;
    border-radius: 5px;
    border: 2px solid rgb(61, 61, 61);
    padding: 10px 15px;
    margin-bottom: 15px;
    width: 300px;
    font-size: 1.5rem;
}


label {
    min-width: 250px;
    font-size: 1.2rem;
    padding-bottom: 5px;
}


@media only screen and (min-width: 800px) {
    select {
        width: 600px;
    }
}